<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
  {{ partial "head.html" . }}
</head>

<body id="page-top">
  <div class="container">
    <div class="row">
      <div class="default-single-content">
        {{ with .Title }}
        <h1 class="text-center">{{ . }}</h1>
        {{ end }} {{ if .Title }}
        <hr class="star-primary"> {{ end }} {{ if .Params.image }}
        <img src="{{ .URL }}{{ .Params.image }}" class="img-responsive img-centered" alt=""> {{ end }}
        <p>{{ .Content }}</p>
      </div>
    </div>
    <div class="row">
      <div class="text-center">
        <a id="default-single-back" class="btn btn-primary btn-xl page-scroll " href="/">Zurück</a>
      </div>
    </div>
  </div>
</body>

</html>