{{ "<!-- ABOUT -->" | safeHTML }}
<section id="achievement">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <!--
                {{ with .Site.Params.achievement.headline }}
                    <h2 class="section-heading">{{ . }}</h2>
                {{ end }}
                {{ if and .Site.Params.achievement.headline .Site.Params.achievement.description }}
                    <hr class="primary">
                {{ end }}
                -->
  
                {{ with .Site.Params.activities.description }}
                    <p>{{ . | markdownify }}</p>
                {{ end }}
                
            </div>
        </div>
    </div>
</section>
