{{ "<!-- Foot-->" | safeHTML }}
<section class="bg-dark footer"  id="contact">
    <div class="container">
        <div class="row">
            {{ if .Site.Params.contact.phone }}            
                <div class="col-lg-3 col-sm-6 text-center">
                    <a class="contact-item" target="_blank" href="{{ .Site.Params.contact.facebook }}">
                        <i class="fa fa-facebook-official fa-3x"></i>
                    </a>
                </div>
            {{ end }}
            {{ if .Site.Params.contact.email }}
                <div class="col-lg-3 col-sm-6  text-center">
                    <a class="contact-item" href="mailto:{{ .Site.Params.contact.email }}">
                        <i class="fa fa-envelope fa-3x"></i>
                    </a>
                </div>
            {{ end }}            
            <div class="col-lg-3 col-sm-6 text-center">
                <a class="contact-item" href="/datenschutz">
                    <p>Datenschutzerklärung</p>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <a class="contact-item" href="/impressum">
                    <p>Impressum</p>
                </a>
            </div>
        </div>
    </div>
</section>
