{{ "<!-- HEADER -->" | safeHTML }}
<header>
    <div id="hero-img-container">
    </div>

    <div class="header-button-left">
        <a href="#" onclick="plusSlides(-1)" class="btn-header">
            <i class="fa fa-angle-left fa-4x header-button-inner"></i>
        </a>  
    </div>  
    
    <div class="header-button-right">
        <a href="#" onclick="plusSlides(1)" class="btn-header">
            <i class="fa fa-angle-right fa-4x header-button-inner" style="margin: 10px"></i>
        </a>    
    </div>

    <div class="header-content">
        <h1>castellum</h1>
        <h2>ex variis contextum<h2>
    </div>
</header>
<div class="header-button-down">
    <a href="#about" class="page-scroll btn-header">
        <i class="fa fa-angle-double-down fa-4x header-button-inner"></i>
    </a>
</div>