{{ "<!-- HEADER -->" | safeHTML }}
<header>
    <!--div class="header-content" >
        <div class="header-content-inner">
        </div>
    </div-->
    <div id="hero-img-container">
<!--            <img id="hero-img-1" class="hero-img" src="../../../../hero/hero1.jpg"/>
            <img id="hero-img-2" class="hero-img" src="../../../../hero/hero2.jpg"/>
            <img id="hero-img-3" class="hero-img" src="../../../../hero/hero3.jpg"/>
            <img id="hero-img-4" class="hero-img" src="../../../../hero/hero4.jpg"/>
            <img id="hero-img-5" class="hero-img" src="../../../../hero/hero5.jpg"/>-->
    </div>

    <div class="header-button-left">
        <a href="#" onclick="plusSlides(-1)" class="btn-header">
            <i class="fa fa-angle-left fa-3x"></i>
        </a>  
    </div>  
    
    <div class="header-button-right">
        <a href="#" onclick="plusSlides(1)" class="btn-header">
            <i class="fa fa-angle-right fa-3x"></i>
        </a>    
    </div>
</header>
<div class="header-button-down">
    <a href="#about" class="page-scroll btn-header">
        <i class="fa fa-angle-double-down fa-3x"></i>
    </a>
</div>