<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">
        {{ if or .Site.Params.navigation.links.about .Site.Params.navigation.links.services .Site.Params.navigation.links.portfolio .Site.Params.navigation.links.contact }}
            {{ partial "nav.html" . }}
        {{ end }}

        {{ partial "hero.html" . }}    

        {{ if .Site.Params.about }}
            {{ partial "about.html" . }}
        {{ end }}

        {{ partial "wappen.html" . }}

        {{ partial "aktivitaeten.html" . }}

        {{ partial "combat.html" . }}        
    
        {{ partial "mitglieder.html" . }}    

        {{ if .Site.Data.veranstaltungen }}
            {{ partial "veranstaltungen.html" .Site.Data.veranstaltungen }}
        {{ end }}

        {{ if .Site.Params.contact }}
            {{ partial "contact.html" . }}
        {{ end }}

        {{ partial "js.html" . }}

        {{ template "_internal/google_analytics.html" . }}
    </body>
</html>
